# FORMAT STRING

In [2]:
print("{a} is smaller than {b}".format(a=10,b=11))

10 is smaller than 11

In [3]:

print("{} is an intern at {}".format('Rugved','Biz-M'))

Rugved is an intern at Biz-M

# FLOAT FORMATTING

In [4]:
a =10.76
b = 220.5666666
print("two float numbers :{} & {}".format(a,b))

two float numbers :10.76 & 220.5666666

In [9]:
print("Two float numbers: {:.2f} & {:.3f}".format(a,b))
print("two float numbers : {:.2f} & {:10.2f}".format(a,b))
print(" two float numbers : {:.2f} & {:15.2f}".format(a,b))

Two float numbers: 10.76 & 220.567
two float numbers : 10.76 &     220.57
 two float numbers : 10.76 &          220.57

In [12]:
print("two float number {:.2s} & {:.3s}".format("rugved",'kini'))

two float number ru & kin

In [14]:
data = ('rugved','kini',53.44,45.22)
print(type(data))
format_str = 'Hello %s %s your current balance is $%d $%d'
new_str = format_str % data
print(new_str)

<class 'tuple'>
Hello rugved kini your current balance is $53 $45

In [18]:
print("{:+10.2f} {:+10.2f}".format(12.23 , -12.23))

print("{:-10.2f} {:-10.2f}".format(12.23,-12.23))

    +12.23     -12.23
     12.23     -12.23

# left allignment

In [19]:
print("{:10}".format("cat"))

cat

Right Allignment

In [20]:
print("{:>10}".format("cat"))

       cat

# centre padding

In [23]:
print("{:*^30}".format("cat"))

*************cat**************

# REGEX

In [27]:
import re

# Starting Point ^

In [43]:
pattern = '^[A,E,I,O,U,a,e,i,o,u]'
stri = input("enter")
if re.match(pattern,stri):
    print('an', stri)

an apple

# end $

In [46]:
pattern2 = '^[A-Z][a-z]*[a-z]$'
str2 = input("enter the number")
if re.match(pattern2,str2):
    print(str2)

Hello

In [50]:
pat3 = '^[A-Z].[A-z]$'
str3 = input("enter")
if re.match(pat3,str3):
    print(str3)

Axy

In [51]:
pat4 = '^[A-Z].{2}[A-z]$'
str4 = input("enter")
if re.match(pat4,str4):
    print(str4)

A23c

In [53]:
pat5 = '[A-z]*e$'
str5 = input("enter")
re.match(pat5,str5)

In [62]:
nameage = """ 
        RugveD is 21
        Rushikesh is 27
        Rushil is 13
        and xyz is 34354536547
"""

patx = '[A-z][a-z]*'
re.findall(patx,nameage)

['Rugve', 'D', 'is', 'Rushikesh', 'is', 'Rushil', 'is', 'and', 'xyz', 'is']

In [66]:
re.findall('\d',nameage)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_18924\1775621960.py:1: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d',nameage)

['2',
 '1',
 '2',
 '7',
 '1',
 '3',
 '3',
 '4',
 '3',
 '5',
 '4',
 '5',
 '3',
 '6',
 '5',
 '4',
 '7']

In [70]:
re.findall('\d{1,11}',nameage)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_18924\2601510743.py:1: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d{1,11}',nameage)

['21', '27', '13', '34354536547']

In [85]:
re.findall('[0-9]{1,5}',nameage)

['21', '27', '13', '34354', '53654', '7']

In [74]:
str_big = ''' 
        We need not needxsdfds djfndsu dsjfsujfneedfdsfds fjdsfudsneed

'''
list(re.finditer("need",str_big))

[<re.Match object; span=(13, 17), match='need'>,
 <re.Match object; span=(22, 26), match='need'>,
 <re.Match object; span=(49, 53), match='need'>,
 <re.Match object; span=(68, 72), match='need'>]

In [79]:
re.search('[p]{2}','apple')

In [121]:


val = re.findall("[A-Z,a-z,0-9]*ed",str_big)

val

['need', 'need', 'dsjfsujfneed', 'fjdsfudsneed']

In [116]:

for i in val:
    re.findall("[A-z,0-9]*at$",i)
    print(i,val)

# function with keyword argument for tuple as input

In [122]:
def Pcmb(p,c,*s):
    print(s,type(s))
    total = p+c
    for i in s:
        total += int(i)
    return total

In [123]:
Pcmb(10,20,30,40,'50')

(30, 40, '50') <class 'tuple'>

150

# **S represents dictionary arguments

In [3]:
def args(req,def1,*kw,**dict1):

    print(f'this is required arg{req}')
    print(f'this is default arg {def1}')
    print('this is tuple',kw)
    print('this is dictionary',dict1)
    

    return

In [4]:
try1 = 10
try2 = 20
try3 = (2,3,4)
try4 = {"a":'one',"b":'two',"c":'three'}

In [5]:
args(try1,try2,try3,**try4)

this is required arg10
this is default arg 20
this is tuple ((2, 3, 4),)
this is dictionary {'a': 'one', 'b': 'two', 'c': 'three'}