In [75]:
l1 = (1,2,3,4,'str',[1,2,3])

In [76]:
l1

(1, 2, 3, 4, 'str', [1, 2, 3])

In [77]:
cname = 'Bizmetric'

In [78]:
cname[0]

'B'

In [79]:
l1[5]

[1, 2, 3]

In [80]:
l1[5][2]

3

In [81]:
list1 = [1,2,'rugved','rushil','3',(1,2,3)]

tuple1 = (10,20,30,'str','prx',[1,2,3])

set1 = {1,2,3,4,4,4,5,'str','new'}

dict1 = {1:'rug',2:'ved','name':'rugved'}

In [82]:
type(set1)

set

In [83]:
list1.append(2)
list1

[1, 2, 'rugved', 'rushil', '3', (1, 2, 3), 2]

In [84]:
list1.extend([1,2,3,4])
list1

[1, 2, 'rugved', 'rushil', '3', (1, 2, 3), 2, 1, 2, 3, 4]

In [85]:
list1.insert(2,'inserted')
list1

[1, 2, 'inserted', 'rugved', 'rushil', '3', (1, 2, 3), 2, 1, 2, 3, 4]

In [86]:
list1.extend(dict1)
list1

[1,
 2,
 'inserted',
 'rugved',
 'rushil',
 '3',
 (1, 2, 3),
 2,
 1,
 2,
 3,
 4,
 1,
 2,
 'name']

In [87]:
list1.pop(3) #based on index

'rugved'

In [88]:
list1.remove('rushil') #based on value

In [89]:
list1

[1, 2, 'inserted', '3', (1, 2, 3), 2, 1, 2, 3, 4, 1, 2, 'name']

In [90]:
del list1[4]

In [91]:
list1

[1, 2, 'inserted', '3', 2, 1, 2, 3, 4, 1, 2, 'name']

In [92]:
list1.count(2)

4

In [93]:
list1.append([4,6,2,9,5])

In [94]:
list1

[1, 2, 'inserted', '3', 2, 1, 2, 3, 4, 1, 2, 'name', [4, 6, 2, 9, 5]]

In [95]:
list1[13].sort()

IndexError: list index out of range

In [34]:
list1

[1, 2, 'inserted', '3', 2, 2, 1, 2, 3, 4, 1, 2, 'name', [2, 4, 5, 6, 9]]

In [35]:
list1.reverse()
list1

[[2, 4, 5, 6, 9], 'name', 2, 1, 4, 3, 2, 1, 2, 2, '3', 'inserted', 2, 1]

In [41]:
l_char = []
l_int = []
l_other=[]
for i in list1:
    if type(i)==int:
        l_int.append(i)
    elif type(i)==str:
        l_char.append(i)
    else:
        l_other.append(i)

In [38]:
l_char

['name', '3', 'inserted']

In [39]:
l_int

[2, 1, 4, 3, 2, 1, 2, 2, 2, 1]

In [42]:
l_other

[[2, 4, 5, 6, 9]]

In [45]:
for i in range(1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [50]:
list2 = [i if i%2==0   else  -1  for i in range(2,21,3) ]
list2

[2, -1, 8, -1, 14, -1, 20]

In [23]:
tuple1

(10, 20, 30, 'str', 'prx', [1, 2, 3])

In [29]:
set1

{1, 2, 3, 4, 5, 'new', 'str'}

In [35]:
set1.remove(1)

KeyError: 1

In [31]:
set1

{2, 3, 4, 5, 'new', 'str'}

In [36]:
set1.discard(3)

In [34]:
set1

{2, 4, 5, 'new', 'str'}

In [39]:
s2 = {8,9,5}

In [41]:
set1.union(s2)

{2, 4, 5, 8, 9, 'new', 'str'}

In [46]:
set1.update([7,5,3,'dtr'])

In [47]:
set1

{2, 3, 4, 5, 7, 'dtr', 'new', 'str'}

In [48]:
set1.difference(s2)

{2, 3, 4, 7, 'dtr', 'new', 'str'}

In [49]:
set1.symmetric_difference(s2)

{2, 3, 4, 7, 8, 9, 'dtr', 'new', 'str'}

In [50]:
dict1

{1: 'rug', 2: 'ved', 'name': 'rugved'}

In [51]:
d2 = {'x':34,'y':43,'z':[1,2,3]}

In [52]:
dict1.update(d2)

In [53]:
dict1

{1: 'rug', 2: 'ved', 'name': 'rugved', 'x': 34, 'y': 43, 'z': [1, 2, 3]}

In [54]:
d2["neww"]=99

In [55]:
d2

{'x': 34, 'y': 43, 'z': [1, 2, 3], 'neww': 99}

In [56]:
d2.items()

dict_items([('x', 34), ('y', 43), ('z', [1, 2, 3]), ('neww', 99)])

In [57]:
d2.keys()

dict_keys(['x', 'y', 'z', 'neww'])

In [58]:
d2.values()

dict_values([34, 43, [1, 2, 3], 99])

In [61]:
d2.pop('neww')

99

In [62]:
d2

{'x': 34, 'y': 43, 'z': [1, 2, 3]}

In [63]:
d2['x']

34

In [64]:
d2.get('x')

34

In [65]:
a4 = (1,2,3)

In [ ]:
a = dict.fromkeys(a4)

In [67]:
d2

{'x': 34, 'y': 43, 'z': [1, 2, 3]}

In [70]:
a

{1: None, 2: None, 3: None}

In [71]:
dict(zip(list1,a4))

{1: 1, 2: 2, 'inserted': 3}

In [72]:
list1

[1, 2, 'inserted', '3', 2, 1, 2, 3, 4, 1, 2, 'name', [4, 6, 2, 9, 5]]

In [73]:
a[1]='values'

In [74]:
a

{1: 'values', 2: None, 3: None}

#hq

In [96]:
import datetime as dt

In [101]:
a = dt.datetime.now()
a

datetime.datetime(2025, 1, 8, 13, 28, 8, 498785)

In [103]:
dt.date.today()

datetime.date(2025, 1, 8)

In [104]:
a.date()

datetime.date(2025, 1, 8)

In [105]:
a.time()

datetime.time(13, 28, 8, 498785)

In [106]:
a.year

2025

In [107]:
a.isoweekday()

3

In [110]:
a.strftime('%Y-%m,%d')

'2025-01,08'

In [113]:
dob = dt.datetime(22,4,5)

In [114]:
dob

datetime.datetime(22, 4, 5, 0, 0)

In [115]:
a.strftime('%B')

'January'

In [116]:
a.strftime('%A')

'Wednesday'

In [117]:
srttime = '2025/01/08'

In [121]:
tim = dt.datetime.strptime(srttime,'%Y/%m/%d')
tim

datetime.datetime(2025, 1, 8, 0, 0)

In [128]:
da1 = dt.datetime.now()

In [129]:
ti = dt.datetime.timestamp(da1)
ti

1736324437.156376

In [130]:
dt.datetime.timestamp?

Docstring: Return POSIX timestamp as float.
Type:      method_descriptor