# FORMAT STRING

In [2]:
print("{a} is smaller than {b}".format(a=10,b=11))

10 is smaller than 11

In [3]:

print("{} is an intern at {}".format('Rugved','Biz-M'))

Rugved is an intern at Biz-M

# FLOAT FORMATTING

In [4]:
a =10.76
b = 220.5666666
print("two float numbers :{} & {}".format(a,b))

two float numbers :10.76 & 220.5666666

In [9]:
print("Two float numbers: {:.2f} & {:.3f}".format(a,b))
print("two float numbers : {:.2f} & {:10.2f}".format(a,b))
print(" two float numbers : {:.2f} & {:15.2f}".format(a,b))

Two float numbers: 10.76 & 220.567
two float numbers : 10.76 &     220.57
 two float numbers : 10.76 &          220.57

In [12]:
print("two float number {:.2s} & {:.3s}".format("rugved",'kini'))

two float number ru & kin

In [14]:
data = ('rugved','kini',53.44,45.22)
print(type(data))
format_str = 'Hello %s %s your current balance is $%d $%d'
new_str = format_str % data
print(new_str)

<class 'tuple'>
Hello rugved kini your current balance is $53 $45