In [1]:
l1 = (1,2,3,4,'str',[1,2,3])

In [2]:
l1

(1, 2, 3, 4, 'str', [1, 2, 3])

In [3]:
cname = 'Bizmetric'

In [4]:
cname[0]

'B'

In [5]:
l1[5]

[1, 2, 3]

#NESTED LIST l1 = (1,2,3,4,'str',[1,2,3])

In [6]:
l1[5][2]

3

In [24]:
list1 = [1,2,'rugved','rushil','3',(1,2,3)]

tuple1 = (10,20,30,'str','prx',[1,2,3])

set1 = {1,2,3,4,4,4,5,'str','new'}

dict1 = {1:'rug',2:'ved','name':'rugved'}

In [25]:
type(set1)

set

# append = add at last of list

In [26]:
list1.append(2)
list1

[1, 2, 'rugved', 'rushil', '3', (1, 2, 3), 2]

# extend = takes iterator  and add to last of list

In [27]:
list1.extend([1,2,3,4])
list1

[1, 2, 'rugved', 'rushil', '3', (1, 2, 3), 2, 1, 2, 3, 4]

# insert = takes 2 arguments 1st- location and 2nd-value

In [28]:
list1.insert(2,'inserted')
list1

[1, 2, 'inserted', 'rugved', 'rushil', '3', (1, 2, 3), 2, 1, 2, 3, 4]

In [29]:
list1.extend(dict1)
list1

[1,
 2,
 'inserted',
 'rugved',
 'rushil',
 '3',
 (1, 2, 3),
 2,
 1,
 2,
 3,
 4,
 1,
 2,
 'name']

# pop = takes location as input to remove value

In [30]:
list1.pop(4) #based on index

'rushil'

# remove = takes direct value as input

In [32]:
list1.remove('rugved') #based on value

In [33]:
list1

[1, 2, 'inserted', '3', (1, 2, 3), 2, 1, 2, 3, 4, 1, 2, 'name']

# del list_name[] = takes location to del if no location del all list

In [22]:
del list1

In [34]:
list1

[1, 2, 'inserted', '3', (1, 2, 3), 2, 1, 2, 3, 4, 1, 2, 'name']

# count the appearance of given value in list

In [35]:
list1.count(2)

4

In [36]:
list1.append([4,6,2,9,5])

In [37]:
list1

[1,
 2,
 'inserted',
 '3',
 (1, 2, 3),
 2,
 1,
 2,
 3,
 4,
 1,
 2,
 'name',
 [4, 6, 2, 9, 5]]

# sorting need same data types
# nested list sorted

In [38]:
list1[13].sort()

In [39]:
list1

[1,
 2,
 'inserted',
 '3',
 (1, 2, 3),
 2,
 1,
 2,
 3,
 4,
 1,
 2,
 'name',
 [2, 4, 5, 6, 9]]

In [35]:
list1.reverse()
list1

[[2, 4, 5, 6, 9], 'name', 2, 1, 4, 3, 2, 1, 2, 2, '3', 'inserted', 2, 1]

In [41]:
l_char = []
l_int = []
l_other=[]
for i in list1:
    if type(i)==int:
        l_int.append(i)
    elif type(i)==str:
        l_char.append(i)
    else:
        l_other.append(i)

In [38]:
l_char

['name', '3', 'inserted']

In [39]:
l_int

[2, 1, 4, 3, 2, 1, 2, 2, 2, 1]

In [42]:
l_other

[[2, 4, 5, 6, 9]]

# range (starting value,ending value (excluded),gap)

In [45]:
for i in range(1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

# list comprehension

In [50]:
list2 = [i if i%2==0   else  -1  for i in range(2,21,3) ]
list2

[2, -1, 8, -1, 14, -1, 20]

In [23]:
tuple1

(10, 20, 30, 'str', 'prx', [1, 2, 3])

In [29]:
set1

{1, 2, 3, 4, 5, 'new', 'str'}

In [41]:
set1.remove(1)

KeyError: 1

# remove and discard remove gives error on re-run
# while discard dont

In [31]:
set1

{2, 3, 4, 5, 'new', 'str'}

In [43]:
set1.discard(3)

In [45]:
set1

{2, 4, 5, 'new', 'str'}

In [44]:
s2 = {8,9,5}

In [46]:
set1.union(s2)

{2, 4, 5, 8, 9, 'new', 'str'}

In [61]:
print(set1)
set1.update([7,5,3,8,1,'dtr','abtr','ztr'])
print(set1)

{1, 2, 3, 4, 5, 7, 8, 'str', 'new', 'abtr', 'dtr'}
{1, 2, 3, 4, 5, 7, 8, 'str', 'ztr', 'new', 'abtr', 'dtr'}

# set1.update = adds and sort

In [62]:
print(set1,s2)

{1, 2, 3, 4, 5, 7, 8, 'str', 'ztr', 'new', 'abtr', 'dtr'} {8, 9, 5}

In [63]:
set1.difference(s2)

{1, 2, 3, 4, 7, 'abtr', 'dtr', 'new', 'str', 'ztr'}

# set1diff(s2) = s1-s2 i.e all elements of s1 except common in s2
# set1SYmmdiff(s2) = union of s1 and s2 - intersetn of s1 and s2

In [64]:
set1.symmetric_difference(s2)

{1, 2, 3, 4, 7, 9, 'abtr', 'dtr', 'new', 'str', 'ztr'}

In [65]:
dict1

{1: 'rug', 2: 'ved', 'name': 'rugved'}

In [71]:
d2 = {'x':34,'y':43,'z':[1,2,3]}
l3 = [1,2,3]

In [74]:
dict1.update(d2)

In [68]:
dict1

{1: 'rug', 2: 'ved', 'name': 'rugved', 'x': 34, 'y': 43, 'z': [1, 2, 3]}

In [80]:
d2["neww"]=99

In [81]:
d2

{'x': 34, 'y': 43, 'z': [1, 2, 3], 'neww': 99}

In [82]:
d2.items()

dict_items([('x', 34), ('y', 43), ('z', [1, 2, 3]), ('neww', 99)])

In [83]:
d2.keys()

dict_keys(['x', 'y', 'z', 'neww'])

In [84]:
d2.values()

dict_values([34, 43, [1, 2, 3], 99])

# pop = takes key removes key value pair

In [85]:
d2.pop('neww')

99

In [86]:
d2

{'x': 34, 'y': 43, 'z': [1, 2, 3]}

In [87]:
d2['x']

34

In [88]:
d2.get('x')

34

In [89]:
a4 = (1,2,3)

# dict.fromkeys = create a dict from list items as keys

In [90]:
a = dict.fromkeys(a4)

In [91]:
d2

{'x': 34, 'y': 43, 'z': [1, 2, 3]}

In [92]:
a

{1: None, 2: None, 3: None}

# zip = takes two iterables and makes dict list1 = keys list2 = values

In [93]:
dict(zip(list1,a4))

{1: 1, 2: 2, 'inserted': 3}

In [94]:
list1

[1,
 2,
 'inserted',
 '3',
 (1, 2, 3),
 2,
 1,
 2,
 3,
 4,
 1,
 2,
 'name',
 [2, 4, 5, 6, 9]]

In [95]:
a[1]='values'

In [96]:
a

{1: 'values', 2: None, 3: None}

#hq

In [97]:
import datetime as dt

# give live time

In [98]:
a = dt.datetime.now()
a

datetime.datetime(2025, 1, 8, 22, 53, 46, 859535)

In [103]:
dt.date.today()

datetime.date(2025, 1, 8)

In [104]:
a.date()

datetime.date(2025, 1, 8)

In [105]:
a.time()

datetime.time(13, 28, 8, 498785)

In [106]:
a.year

2025

In [99]:
a.isoweekday()

3

# takes datetime format object and and converts

In [100]:
a.strftime('%Y-%m,%d')

'2025-01,08'

In [101]:
dob = dt.datetime(22,4,5)

In [102]:
dob

datetime.datetime(22, 4, 5, 0, 0)

In [103]:
a.strftime('%B')

'January'

In [104]:
a.strftime('%A')

'Wednesday'

In [105]:
srttime = '2025/01/08'

# strptime takes to input string in time format and resspective format

In [106]:
tim = dt.datetime.strptime(srttime,'%Y/%m/%d')
tim

datetime.datetime(2025, 1, 8, 0, 0)

In [107]:
da1 = dt.datetime.now()

In [108]:
ti = dt.datetime.timestamp(da1)
ti

1736358362.056047

In [109]:
dt.datetime.timestamp?

Docstring: Return POSIX timestamp as float.
Type:      method_descriptor